@* @model List<SidebarModel> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Hehe Application</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WMS_Application.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
    @* <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css" rel="stylesheet"> *@
    <!-- Litepicker CSS -->
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    @* Sidebar *@
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">


    <style>
        label.error {
        color: red !important;
        }

        #PhoneNumber {
        padding-left: 50px !important;
        }
    </style>
        <style >
        /* Custom class for highest priority styling */
        .custom-toast-popup {
            display: flex !important;
            align-items: center !important;
            gap: 10px !important;
            padding: 12px 20px !important;
            border-radius: 10px !important;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
            background-color: #fff !important;
            color: #333 !important;
            border: 1px solid #ccc !important;
            text-align: left !important;
        }

        .custom-toast-title {
            font-size: 14px !important;
            font-weight: 600 !important;
        }

        .swal2-toast .swal2-icon {
            margin: 0 !important;
        }

        .custom-toast-popup {
            display: flex !important;
            align-items: center !important;
            gap: 10px !important;
            padding: 12px 20px !important;
            border-radius: 10px !important;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
            background-color: #fff !important;
            color: #333 !important;
            border: 1px solid #ccc !important;
            text-align: left !important;
        }

        /* THIS is the key override to un-center the icon block */
        .swal2-icon-content {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center !important;
        }
    </style>

</head>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="assets/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="@ViewBag.UserDetails.ProfileImgPath" alt="404" style="max-height : 45px">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="@ViewBag.UserDetails.ProfileImgPath" alt="404" style="max-height : 45px">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>@ViewBag.UserDetails.Username</h6>
                                    <h5>@ViewBag.UserDetails.Designation</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="/MyProfile">
                                <i class="me-2" data-feather="user"></i> My Profile
                            </a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="/Auth/Logout">
                                <img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/MyProfile">My Profile</a>
                    <a class="dropdown-item" href="/Auth/Logout">Logout</a>
                </div>
            </div>

        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        @foreach (var tab in (List<SidebarModel>)ViewBag.SidebarTabs)
                        {
                            @if(tab.TabName != "My Profile")
                            {
                                
                            var res = "";
                                bool subtabs = tab.SubTabs != null && tab.SubTabs.Any();
                                @if (subtabs)
                                {
                                    res = "submenu";
                                }
                                <li class=@res>
                                    <a href="@tab.TabUrl">
                                        <i data-feather="arrow-right-circle"></i> <span> @tab.TabName </span> @if (subtabs)
                                        {
                                            <span class="menu-arrow"></span>
                                        }
                                    </a>
                                    @if (subtabs)
                                    {
                                        <ul>
                                            @foreach (var subTab in tab.SubTabs)
                                            {
                                                <li>
                                                    <a href="@subTab.TabUrl">@subTab.TabName</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }

                            }
                        </ul>
                    </div>
                </div>
            </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
    <script src="https://cdn.rawgit.com/jzaefferer/jquery-validation/1.19.3/dist/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/plugins/select2/js/custom-select.js"></script>
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)


    @* Sidebar *@

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/jquery.slimscroll.min.js"></script>

    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> *@
    @* <script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script> *@

    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script> *@
    <!-- Litepicker JS -->
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script>
        $(document).ready(function () { 

            $('.dropdown-toggle').on('click', function (event) {
                console.log("Dropdown clicked!");
                event.preventDefault(); // Prevent other event conflicts
                $(this).dropdown('toggle'); // Force Bootstrap dropdown toggle
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function showToast(message, icon = 'success') {
          Swal.fire({
            toast: true,
            position: 'top-end',
            icon: icon,
            title: message,
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            customClass: {
              popup: 'custom-toast-popup',
              title: 'custom-toast-title'
            },
            iconColor: icon === 'success' ? '#28a745' :
                      icon === 'error'   ? '#dc3545' :
                      icon === 'warning' ? '#ffc107' : '#17a2b8',
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer);
              toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
          });
        }
    </script>
</body>
</html>
