<link rel="stylesheet" href="~/css/DeleteModal.css" />

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Employee LIST </h4>
                <h6>Manage your Employees</h6>
            </div>
            <div class="page-btn">
                @* <a href="/Employee/SaveEmployee" class="btn btn-added"><img src="assets/img/icons/plus.svg" class="me-2" alt="img">Add New Employee</a> *@
                <a href="@Url.Action("SaveAdmin", "Admins", new { from = "employee" })" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New Employee</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img">
                            </a>
                        </div>
                    </div>

                    @* <!-- Column Selection Dropdown --> *@
                    @* <div class="dropdown"> *@
                    @*     <button class="btn btn-primary dropdown-toggle" type="button" id="columnDropdown" data-bs-toggle="dropdown"> *@
                    @*         Select Columns *@
                    @*     </button> *@
                    @*     <ul class="dropdown-menu p-3"> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="Profile" checked> Profile</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="FirstName" checked> First Name</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="LastName" checked> Last Name</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="Username" checked> UserName</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="Email" checked> Email</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="PhoneNumber" checked> Phone Number</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="CreatedAt" checked> Joining Date</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="DOB" checked> DateOfBirth</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="Designation" checked> Designation</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="IsVerified" checked> IsVerified</li> *@
                    @*         <li><input type="checkbox" class="column-checkbox" value="Action" checked> Action</li> *@
                    @*     </ul> *@
                    @* </div> *@
                    @*         <li class="mt-2"> *@
                    @*             <button class="btn btn-success" id="applyPreferences">Apply</button> *@
                    @*             <button class="btn btn-warning" id="resetPreferences">Reset to Default</button> *@
                    @*         </li> *@

                </div>

                <input type="hidden" id="userId" value="@Context.Session.GetInt32("UserId")">

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th data-column="Profile">Profile</th>
                                <th data-column="Full Name">First Name</th>
                                <th data-column="Username">UserName</th>
                                <th data-column="Email">Email</th>
                                <th data-column="CreatedAt">Joining Date</th>
                                <th data-column="PhoneNumber">Phone Number</th>
                                <th data-column="DOB">Date of Birth</th>
                                <th data-column="Designation">Designation</th>
                                <th data-column="IsVerified">IsVerified</th>
                                <th data-column="IsVerified" id="Action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model)
                            {
                                <tr>
                                    <td data-column="Profile">
                                        <img src="@employee.ProfileImgPath" alt="img" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td data-column="FirstName">@employee.FirstName @employee.LastName</td>
                                    <td data-column="Username">@employee.Username</td>
                                    <td data-column="Email">@employee.Email</td>
                                    <td data-column="PhoneNumber">@employee.PhoneNumber</td>
                                    <td data-column="CreatedAt">@employee.CreatedAt</td>
                                    <td data-column="DOB">@employee.DateOfBirth</td>
                                    <td data-column="Designation">@employee.Designation</td>
                                    <td data-column="IsVerified">@employee.IsVerified</td>
                                    <td data-column="IsVerified" class="Action">
                                        <a href="@Url.Action("SaveAdmin", "Admins", new { id = employee.UserId, from = "employee" })">
                                            <button class="me-3 btn">
                                                <img src="~/assets/img/icons/edit.svg" alt="img">
                                            </button>
                                        </a>
                                        <button class="me-3 btn delete-btn" data-id="@employee.UserId">
                                            <img src="~/assets/img/icons/delete.svg" alt="img">
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <!-- Modal Structure -->
                    <div id="deleteModal" class="modal" style="display:none;">
                        <div class="modal-content">
                            <h2>Are you sure?</h2>
                            <p>You won't be able to revert this!</p>
                            <button id="confirmDeleteBtn" class="btn btn-danger">Yes, delete it!</button>
                            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
                        </div>
                    </div>

                    <!-- Hidden form for delete action -->
                    <form id="deleteForm" action="/Employee/DeleteEmployee" method="post" style="display:none;">
                        <input type="hidden" name="id" id="userToDelete">
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="/js/Delete.js"></script>
    <script>
        $(document).ready(function () {
             initializeDeleteButtons('@Url.Action("DeleteEmployee", "Employee")');
        });
    </script>
}

