<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Shop LIST </h4>
                <h6>Manage your Shop</h6>
            </div>
            <div class="page-btn">
                <a href="@Url.Action("SaveShop", "Shops", new { addNew = true })" class="btn btn-added"><img src="assets/img/icons/plus.svg" class="me-2" alt="img">Add New Shop</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Shop Logo</th>
                                <th>Shop Name</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Started On</th>
                                <th>Pincode</th>
                                <th>Address</th>
                                <th>Timings</th>
                                <th>Admin Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var shop in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@shop.ShopImagePath" alt="img" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td>@shop.ShopName</td>
                                    <td>@shop.State</td>
                                    <td>@shop.City</td>
                                    <td>@shop.CreatedAt</td>
                                    <td>@shop.Pincode</td>
                                    <td>@shop.Address</td>
                                    <td>@shop.StartTime to @shop.ClosingTime</td>
                                    <td>@shop.ShopOwner</td>
                                    <td>
                                        <a class="me-3" href="@Url.Action("Details", "Admins", new { id =  shop.AdminId})">
                                            <img src="~/assets/img/icons/eye.svg" alt="img">
                                        </a>
                                        <a class="me-3" href="@Url.Action("SaveShop", "Shops", new { id =  shop.ShopId})">
                                            <img src="~/assets/img/icons/edit.svg" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {

}