@using Microsoft.Extensions.Primitives
@model IEnumerable<WMS_Application.Models.TblProduct>;
<link rel="stylesheet" href="~/css/DeleteModal.css" />

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Products LIST </h4>
                <h6>Manage your Products</h6>
            </div>
            <div class="page-btn">
                <div class="row">
                    @if (Context.Session.GetInt32("UserRoleId") == 5)
                    {
                        <a href="/Company/AddProducts" class="btn btn-added align-center">
                            <img src="~/assets/img/icons/plus.svg" alt="img">Add New Product
                        </a>
                    }
                    else
                    {
                        <a href="/Product/SaveShopProduct" class="btn btn-added align-center">
                            <img src="~/assets/img/icons/plus.svg" alt="img">Add New Stock
                        </a>

                        <a href="/Orders/CreateOrder" class="btn btn-added mt-4 align-center">
                            <img src="~/assets/img/icons/plus.svg" alt="img">Create New Order
                        </a>
                    }
                </div>
            </div>


        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="~/assets/img/icons/search-white.svg" alt="img">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                @if(Context.Session.GetInt32("UserRoleId") != 5){
                                    <th>Company Name</th>
                                }
                                <th>Price Per Unit</th>
                                <th>Manufacturer</th>
                                @if (Context.Session.GetInt32("UserRoleId") != 5)
                                {
                                    <th>Qty In Shop</th>
                                    <th>Shop Price</th>
                                }
                                else
                                {
                                    <th>Stock Quantity</th>
                                }
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@product.ProductImagePath" alt="img" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td>@product.ProductName</td>
                                    <td>@product.ProdCategory</td>
                                    @if (Context.Session.GetInt32("UserRoleId") != 5)
                                    {
                                        <td>@product.CompanyName</td>
                                    }
                                    <td>@product.PricePerUnit</td>
                                    <td>@product.Manufacturer</td>
                                    <td>
                                        @(product.ProductQty > 0 ? product.ProductQty.ToString() : "None")
                                    </td>
                                    @if (Context.Session.GetInt32("UserRoleId") != 5)
                                    {
                                        <td>
                                            @product.ShopPrice
                                        </td>
                                    }
                                    <td>
                                        @if (Context.Session.GetInt32("UserRoleId") == 5)
                                        {
                                            <a href="@Url.Action("AddProducts", "Company", new { id = product.ProductId})">
                                                <button class="me-3 btn">
                                                    <img src="~/assets/img/icons/edit.svg" alt="img">
                                                </button>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("SaveShopProduct", "Product", new { id = product.ProductId})">
                                                <button class="me-3 btn">
                                                    <img src="~/assets/img/icons/edit.svg" alt="img">
                                                </button>
                                            </a>
                                        }
                                        
                                        <button class="me-3 btn delete-btn" data-id="@product.ProductId">
                                            <img src="~/assets/img/icons/delete.svg" alt="img">
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Modal Structure -->
                    <div id="deleteModal" class="modal" style="display:none;">
                        <div class="modal-content">
                            <h2>Are you sure?</h2>
                            <p>You won't be able to revert this!</p>
                            <button id="confirmDeleteBtn" class="btn btn-danger">Yes, delete it!</button>
                            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
                        </div>
                    </div>

                    <!-- Hidden form for delete action -->
                    <form id="deleteForm" action="/Products/DeleteProduct" method="post" style="display:none;">
                        <input type="hidden" name="id" id="userIdToDelete">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/Delete.js"></script>
    <script>
        $(document).ready(function () {
             initializeDeleteButtons('@Url.Action("DeleteProduct", "Product")');
        });
    </script>
}