<link rel="stylesheet" href="~/css/DeleteModal.css" />
@model IEnumerable<WMS_Application.Models.TblCompany>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Company List</h4>
                <h6>Manage your Companies</h6>
            </div>
            <div class="page-btn">
                @* <a href="/company/SaveEmployee" class="btn btn-added"><img src="assets/img/icons/plus.svg" class="me-2" alt="img">Add New company</a> *@
                <a href="@Url.Action("UpdateCompany", "Company")" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New Company</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img">
                            </a>
                        </div>
                    </div>
                </div>

               

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Company Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Location</th>
                                <th>Products</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var company in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@company.CompanyLogo" alt="img" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td>@company.CompanyName</td>
                                    <td>@company.Email</td>
                                    <td>@company.PhoneNumber</td>
                                    <td>@company.Address</td>
                                    <td><a href="/Products?companyId=@company.CompanyId"><span class="badges bg-lightgreen">Get Products</span></a></td>
                                    <td>
                                        <a href="@Url.Action("CompanyDetails", "Company", new { id =  company.CompanyId})">
                                            <button class="me-3 btn">
                                                <img src="~/assets/img/icons/eye.svg" alt="img">
                                            </button>
                                        </a>
                                        <a href="@Url.Action("UpdateCompany", "Company", new { id = company.CompanyId})">
                                            <button class="me-3 btn">
                                                <img src="~/assets/img/icons/edit.svg" alt="img">
                                            </button>
                                        </a>
                                        <button class="me-3 btn delete-btn" data-id="@company.CompanyId">
                                            <img src="~/assets/img/icons/delete.svg" alt="img">
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Modal Structure -->
                    <div id="deleteModal" class="modal" style="display:none;">
                        <div class="modal-content">
                            <h2>Are you sure?</h2>
                            <p>You won't be able to revert this!</p>
                            <button id="confirmDeleteBtn" class="btn btn-danger">Yes, delete it!</button>
                            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
                        </div>
                    </div>

                    <!-- Hidden form for delete action -->
                    <form id="deleteForm" action="/Company/DeleteCompany" method="post" style="display:none;">
                        <input type="hidden" name="id" id="adminIdToDelete">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/Delete.js"></script>
    <script>
        $(document).ready(function () {
             initializeDeleteButtons('@Url.Action("DeleteCompany", "Company")');
        });
    </script>
}